$border-radius-size: 14px;
$barbarian: #EC9B3B;

.breakdown-container {
  background-color: #000000eb;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  .wrapper {
    // padding-top: 40px;
    // padding-bottom: 40px;
    margin: 4rem 2rem;
    
    &:focus {
      outline: 0;
    }

    .card-container {
      display: flex;
      align-items: flex-start;
    }

    .fa-times {
      font-size: 6rem;
      position: absolute;
      top: 15px;
      right: 30px;

      &:hover {
        color: white;
      }
    }

    .fa-undo-alt {
      font-size: 6rem;
      position: absolute;
      top: 90px;
      right: 20px;

      &:hover {
        color: white;
      }
    } 

    h2 {
      color: white;
      font-size: 6rem;
      border: 1px solid white;
      width: fit-content;
      padding: 1rem 3rem;
      text-transform: uppercase;
      letter-spacing: 1rem;
      margin: 1rem auto;
    }

    .clash-card {
      background: white;
      width: 300px;
      display: inline-block;
      margin: auto;
      border-radius: $border-radius-size + 5;
      position: relative;
      text-align: center;
      box-shadow: -1px 15px 30px -12px black;
      z-index: 9999;
      margin: 2rem;
    }
  
    .clash-card__image {
      position: relative;
      height: 230px;
      margin-bottom: 35px;
      border-top-left-radius: $border-radius-size;
      border-top-right-radius: $border-radius-size;
    }
  
    .clash-card__image--barbarian {
      background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
      img {
        width: 90%;
        // position: absolute;    
        top: -65px;
        left: -70px;
      }
    }
  
    .clash-card__level {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 3px;
    }
  
    .clash-card__level--barbarian {
      color: $barbarian;
    }
  
    .clash-card__unit-name {
      font-size: 26px;
      color: black;
      font-weight: 900;
      // margin-bottom: 5px;
      word-break: break-all;
      margin: 1rem;
    }
    
    .clash-card__unit-description {
      padding: 20px;
      margin-bottom: 10px;  
    }
    
    .clash-card__unit-stats--barbarian {
      background: $barbarian;
      
      .one-third {
         border-right: 1px solid #BD7C2F;
      }

      .full {
         border-bottom: 1px solid #BD7C2F;
      }

      .full:last-child {
         border-bottom: none;
      }
    }
  
    .clash-card__unit-stats {
    
      color: white;
      font-weight: 700;
      border-bottom-left-radius: $border-radius-size;
      border-bottom-right-radius: $border-radius-size;
      
      .one-third {
        width: 33%;
        float: left;
        padding: 20px 15px;
      }
      
      .full {
        width: 100%;
        float: left;
        padding: 20px 15px;

      }
      
      sup {
        // position: absolute;
        // bottom: 4px; 
        font-size: 45%;
        margin-left: 2px;
      }
      
      .stat {
        position: relative;
        font-size: 24px;
        margin-bottom: 10px;
      }
      
      .stat-value {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        word-break: break-all;
      }
    
      .no-border {
        border-right: none;
      }
    }
  
    .clearfix:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

  }

}

#breakdown-prompt-container {
  background-color: white;
  // display: flex;
  // justify-content: center;
  border-radius: 10px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  color: black;
  padding: 50px;
  z-index: 999;
}