.tutorial-container {
  h2 {
    color: #23272a;
    text-align: center;
    margin-top: 10rem;
    font-weight: 600;
    font-size: 4rem;
    padding-top: 20%;
  }

  .tutorial-container-text {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 3rem;
  }

  .tutorial-card-container {
    display: flex;
    justify-content: center;
    margin: 100px 0;

    .tutorial-card {
      padding: 4rem;
      
      .icon-background {
        position: absolute;
        top: -55px;
        background: white;
        width: 100px;
        border-radius: 50%;
        border: 4px solid #7a48ad;

        // &:hover {

        // }
      }
    }

  }

  #tutorial-card-1 {
    // background: -webkit-linear-gradient(142.53deg,#00a295,#26e8f4 98.75%),#3dcda7;
    // background: linear-gradient(142.53deg,#00a295,#26e8f4 98.75%),#3dcda7;
    background: -webkit-linear-gradient(142.53deg, #3f33f2, #ab3232 98.75%), #ff3800;
    background: linear-gradient(142.53deg, #3f33f2, #ab3232 98.75%), #ff3800;
    opacity: 0.9;
  }

  #tutorial-card-2 {
    // background: linear-gradient(321.82deg,#21f2ff,#4181ff 59.22%,#4475ff 98.02%),#7196ff;
    // background: webkit-linear-gradient(321.82deg,#21f2ff,#4181ff 59.22%,#4475ff 98.02%),#7196ff;
    background: -webkit-linear-gradient(321.82deg, #2581f2, #89e1f9 59.22%, #ffa99a 98.02%), #ff0101;
    background: linear-gradient(321.82deg, #2581f2, #89e1f9 59.22%, #ffa99a 98.02%), #ff0101;
    opacity: 0.9;
  }

  #tutorial-card-3 {
    // background: linear-gradient(141.48deg,#f837ee 1.35%,#ffcd4b);
    // background: webkit-linear-gradient(141.48deg,#f837ee 1.35%,#ffcd4b);
    background: linear-gradient(141.48deg, #f83737 1.35%, #ffcd4b);
    background: webkit-linear-gradient(141.48deg, #f83737 1.35%, #ffcd4b);
    opacity: 0.9;
  }

  .tutorial-card {
    background: #2BC0E4;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: black;
    margin: 1rem;
    align-items: center;
    flex-flow: wrap;

    .tutorial-card-title {
      font-size: 2rem;
      margin: 2rem;
      font-weight: 600;
    }

    .tutorial-card-text {
      font-size: 1.25rem;
    }

    .fa-filter, .fa-eye, .fa-file-alt {
      font-size: 6rem;
      margin: 2rem 0;
    } 
  }
}