.tutorial-container {
  h2 {
    color: #23272a;
    text-align: center;
    margin-top: 10rem;
    font-weight: 600;
    font-size: 4rem;
    padding-top: 20%;
  }

  .tutorial-container-text {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 3rem;
  }

  .tutorial-card-container {
    display: flex;
    justify-content: center;
    margin: 100px 0;

    .tutorial-card {
      border-radius: 10px;
      height: 250px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      color: black;
      margin: 1rem;
      align-items: center;
      flex-flow: wrap;
      padding: 4rem;
      background: rgba(0, 0, 0, 0.800);
  
  
      .tutorial-card-title {
        font-size: 2rem;
        margin: 2rem;
        font-weight: 600;
        color: #ffcd4b;
      }
  
      .tutorial-card-text {
        font-size: 1.25rem;
        color: white;
      }
  
      .icon-background {
        position: absolute;
        top: -55px;
        background: white;
        width: 100px;
        border-radius: 50%;
        border: 4px solid #7a48ad;
      }
  
      .fa-filter, .fa-eye, .fa-file-alt {
        font-size: 6rem;
        margin: 2rem 0;
      } 
    }
  }

}