#welcome-message {
  color: white;
  padding: 0;
  margin: 0;
  padding-top: 10rem;
  background: #36003aa1;

  h3 {
    text-align: center;
    margin: 8rem 0;
    width: 24%;
    margin: 8rem auto;
    font-size: 5rem;
  }

  .hero-title-container {
    // height: 100px;
    position: relative;

    .hero-container-row {
      position: absolute;
      bottom: -95px;
      right: 0;
    }

  }
  
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
      font-size: 8rem;
      margin-bottom: 2rem;
    }

    .hero-image {
      display: flex;
      // border: 5px solid red;
      justify-content: center;

      .hero-image-circle {
        height: 550px;
        width: 550px;
        background: #e4c50182;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      img {
        width: 600px;
        z-index: 2;
      }
    }

    .hero-content {
      margin-right: 10rem;
      z-index: 5;
    }
  }

  .wave-container {
    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .overlay {
    z-index: 1;
  }
}